*{
    
    padding:0;
    margin: 0;
       
}
.body{
       
}

/* main header portion*/
.main_header{
    background: url("../../images/header.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 670px;
}


.top_right_menu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
}

.top_right_menu a:hover{
    text-decoration: underline;
}

.top_right_menu{
    margin-top: 15px;
float: right;
    color: white;
    
}

.top_right_menu_wrap{
   width: 100%;
       display:inline-block;
}

.right-menu{
    
  margin-left: 30px;
   margin-top:20px;
    display: inline-block;
    
}

.right-menu-wrap{
      float: left;
    border: 1px solid black;
   background: rgba(0,0,0,0.7);
    width: 200px;
    height: 400;
}
.logo_pic{
             

    background-repeat: no-repeat;
    height: 60;
    margin-top: 26;
    margin-left: 10;
    background: url(../../Images/logo.png);
    background-size:cover;
    width: 180;
  
}

.menu_items{
    margin-top: 20px;
}

.menu_items ul li a{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
        margin-left: 20;
        margin-bottom: 5;
    margin-top: 5px;
        display: inline-block;
}
.menu_items ul li{
    list-style-type: none;
    border-bottom: 1px dotted white;
}
.menu_items ul li a:hover{
    text-decoration: underline;
}
.social ul li{
    height: 13;
    margin-left:0;
    display:inline;
    border-bottom: 0px;
}

.fb {
  
   background: url(../../Images/Social/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height:26px;
    display: inline-block;
}

.tt {
  
   background: url(../../Images/Social/twitter.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height:22px;
    display: inline-block;
}

.in {
  
   background: url(../../Images/Social/insta.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height:26px;
    display: inline-block;
}


.menu_items ul li .tel{
    color: red;
}


.menu_items ul li .bi{
    color:aquamarine;
}



.menu_items ul li .sch{
    padding:7px 10px; 
    margin-left: 10px;
    background-color: rgba(6,51,96,0.7);
    
}

.menu_items ul li .sch:hover{
    padding:8x 10px; 
    margin-left: 10px;
    background-color: rgba(3, 26, 48,0.7);
    text-decoration: none;
}


.slogan p{
    font-size: 64;
    color:white;
    text-align: center;
    margin-top: 10px;
   
}

.slogan {
    text-align: center;
    
}

.buttn {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding:15px 50px;
    display: inline-block;
background-color: #df4136;
   

   
}

.buttn:hover{
background-color: #df2417;
   
     
  
    
}

.header_footer{
    margin-top: 25;
    width: 100%;
    min-height: 65px;
    background: rgba(0,0,0,0.7);
   
}
.header_footer ul li{
    display: inline-block;
    text-decoration:none;
}
.header_footer ul li:hover{
   
    text-decoration:underline;
    text-decoration: overline;
}


.right_list ul a {
    text-decoration: none;
    display: inline;
    color: white;
    list-style: none;
    text-transform: uppercase;
     
    
}
.right_list ul{
    
    margin-left: 15;

}
.right_list{
   
  color:white;
    
    
    float: left;
}


.center{
    text-align: center;
    color: white;
   
    
   
   
}
.center p{
    text-transform: uppercase;
}
.footer_social {
   float: right; 
    margin-right: 20px;
}
.footer_social ul li{
    margin-left: 15px;
    margin-top: 5;
    border-bottom: 0px;
}


.extra{
     background: url(../../Images/Social/extra.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    display: inline-block;
    height:26px; 
}






.table{
    width: 100%;
    height: 70;

}
.table td{
    border-width: 0;
}
.first{
    width: 25%;
}
.second{
    width: 50%;
}
.third{
    width: 25%;
}












/*Gallery portion*/


.Gallery{
    
 width: 100%;
    padding: 2rem auto;
   
    background: #d9e8f5;

}

.gallery_frame{
    width: 100%;
    padding: 1rem 0;
}

.gallery_frame ul li{
    display:inline;
    
   height: 100%;
    margin-left: 0em;
    width: calc(100% - 2rem);
    
    
}
.gallery_frame ul{
        margin-top: 60;
  margin-left: 200;
    margin-right: 200;
    margin-bottom: 60;
}

.g1 {
        background: url(../../Images/g1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 33%;
   width: 33%;
    margin-bottom: 0;
    display: inline-block;
    max-width: 30%;
    max-height: 100%;
            min-width: 30%;

}

.g2 {
        background: url(../../Images/g2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 33%;
    width: 33%;
    display: inline-block;
    max-width: 30%;
    max-height: 100%;
    max-height: 100%;
    min-width: 30%;
}

.g3 {
        background-image: url(../../Images/g3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 33%;
    width: 33%;
    display: inline-block;
    max-width: 30%;
    max-height: 100%;
        min-width: 28%;

}





/*welcome portion*/

.welcome{
    height: 467;
    width: 100%;
    background: url(../../Images/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text_holder{
    
   

    height:70%;
    width: 70%;
     background: rgba(255,255,255,0.9);
   
    display: inline-block;
    margin-top: 90 ;
    margin-left: 15%;
}

.text_holder h1{
    color:#598ab4;
    text-align: center;
    margin-top: 40px;
    font-size: 40;
    
}
.text_holder p{
    text-align: center;
    margin: 20;
    color:#b6b8ba;
}



.map{
    height: 467;
    width: 100%;
    background: url(../../Images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.adress{
    
   

    height:10%;
    width: 100%;
     background: rgba(52,90,137,.9);
   
    display: inline-block;
    margin-top:420;
   
}

.ad{
    color: white;

    text-align: center;
             margin-top: 20;
}


/*contact us portion start*/
.contact_us{
     height: 467;
    width: 100%;
    background: url(../../Images/bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contact_us h1{
    text-align: center;
    color: white;
    
    display: inline-block;
    margin-top: 30;
    width: 100%;
}

.form{
    width: 50%;
    height: 81%;
    float: left;
}

.info{
     width: 50%;
    height: 81%;
    float: right;
}


.form-wrap input  {
    margin-left: 25%;
        margin-top:5%;
       width:400;
    height: 30;
color: white;
    background: url();
    border-top-color: white;
   
    
}

 ::-webkit-input-placeholder{
        color:white;
         transition: opacity 250ms ease-in-out;
    }
.form-wrap a{
     margin-left: 25%;
        margin-top:5%
     width:400;
    height: 30;
    color:white;
}
.form-wrap textarea{
      margin-left: 25%;
        margin-top:5%;
            width:400;
    height: 78;
    margin-bottom: 12;
    color: white;
     background: url();
    resize: none;
    border-color: white;
    column-rule-color: aqua;
}

.form-wrap a{
    
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    
   text-align: center;
    padding-top: 12;
    padding-bottom: 0;
    background-color: #df4136;
    padding:12 25;
}


/*Infro portoin at the bottom*/

.info p{
 color:white;
    width: 60%;
    margin-left: 50;
    margin-top:100;
    text-align: center;
    font-size:25;
    text-transform: uppercase;
}

.Footer{
    
    height:220px;
    background:#e1edf7;
}

.bt{
    display: inline-block;
    height: auto;
    margin-left: 40%;
    margin-top: 80;
    
}























